@import "common";

// for index.html

body {
  background-image: url("../img/display.jpg");
  background-repeat: none;
  background-size: cover;
  background-color:rgba(255,255,255,0.93);
  background-blend-mode: lighten;
}
.index_html {

  ul {
    list-style: none;

    li {
      padding: 5px;
    }
  }
}
