@import "common";
// for supernova

.supernova {
  .space {
    @include ActiveSpace;
    margin: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: hidden;
  }
  .star {
    @include Star;
  }

    &:active .star{
      transform: scale(50);
    }
  }

