@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css");
@import "common";

div {
  text-align: center;

  img {
    width: 400px;
    height: 300px;
  }
}

