// definition

$Darkness: black;
$Light: white;

@mixin Star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: $Light;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px $Light;
  cursor: pointer;
  transition: all 3s;
}

// for all
body {
  font-family: "PT Mono", monospace;
  text-align: center;

  h1 {
    margin: 0 auto;
    padding: 50px;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
    &:hover {
      font-weight: 600;
    }
  }

  footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
}

// for index.html

.index_html {

  ul {
    list-style: none;

    li {
      padding: 5px;
    }
  }
}

// for single page

// for pulsar
.pulsar {
  .space {
    background-color: $Darkness;
    height: 100vh;
  }

  .star {
    @include Star;

    &:active {
      height: 200px;
      width: 200px;
    }
  }
}

// for nova

.nova {
  .space {
    background-color: $Darkness;
    height: 100vh;
    // position: relative;
  }

  .star {
    @include Star;

    &:active {
      transform: scale(10);
    }
  }
}

// for supernova

.supernova {
  .space {
    margin: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    background-color: $Darkness;
    height: 100vh;
    // position: relative;
    overflow: hidden;
  }
  .star {
    @include Star;

    &:active {
      transform: scale(100);
    }
  }
}

// for triangle

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 5s;
  cursor: progress;

  &:hover {
    transform: rotate(1080deg);
  }

  .triangle-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0 50px 100px 0px;
    border-color: transparent transparent red transparent;
  }

  .triangle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-100px);
    border-style: solid;
    border-width: 0px 0 50px 100px;
    border-color: transparent transparent transparent blue;
  }

  .triangle-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -100px);
    border-style: solid;
    border-width: 100px 0px 0px 50px;
    border-color: greenyellow transparent transparent transparent;
  }

  .triangle-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0px, -50px);
    border-style: solid;
    border-width: 50px 100px 0px 0px;
    border-color: transparent orange transparent transparent;
  }
}

// for slinding door

#sliding_door {
  background-color: white;
  text-align: center;
  z-index: 0;

  button {
    margin: 100px 0;
    height: 200px;
    width: 100px;
    background-color: white;
    border: 2px solid;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: transform 1s;
    overflow: hidden;

    &::before {
      content: "";
      display: inline-block;
      background-color: black;
      height: 200px;
      width: 100px;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: transform 3s;
    }

    &:hover::before {
      transform: translate(-100px);
    }
    &:active {
      border-color: red;
      background-color: red;
    }
    &:active::before {
      transition: transform 0ms;
      transform: translate(-101px);
    }

    .label-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:active .label-1 {
      left: 150%;
    }
    .label-2 {
      color: white;
      position: absolute;
      top: 50%;
      left: 150%;
      transform: translate(-50%, -50%);
    }
    &:active .label-2 {
      left: 50%;
    }
  }
}

// for folding door

#folding_door {
  background-color: white;
  text-align: center;
  z-index: 0;

  button {
    margin: 100px 0;
    height: 200px;
    width: 100px;
    background-color: white;
    border: 2px solid;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    position: relative;

    transform-style: preserve-3d;
    perspective: 300px;

    &::before {
      content: "";
      display: inline-block;
      background-color: black;
      height: 200px;
      width: 100px;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: transform 0.5s;
      transform: rotateY(0deg);
      transform-origin: left;
      transform-style: preserve-3d;
      perspective: 90px;
    }

    &:hover::before {
      transition: transform 3s;
      transform: rotateY(-120deg);
      transform-origin: left;
      transform-style: preserve-3d;
      perspective: 90px;
    }
    &:active {
      border-color: red;
      background-color: red;
      overflow: hidden;
    }
    &:active::before {
      display: none;
    }

    .label-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:active .label-1 {
      left: 150%;
    }
    .label-2 {
      display: none;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:active .label-2 {
      display: block;
    }
  }
}

// for waves

.waves {
  height: 100px;
  width: 200px;
  margin: 100px auto;
  cursor: pointer;

  .spin {
    display: flex;
    margin: 0 auto;
    transform: rotate(180deg);
    height: 100px;
    & div {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 2px;
      background-color: black;
    }

    &:hover div {
      animation: Waves 1.5s forwards;

      @for $x from 1 through 10 {
        &:nth-child(#{$x}) {
          animation-delay: #{1-0.1 * $x}s;
        }
      }
    }
  }
}

@keyframes Waves {
  0% {
    height: 20px;
  }
  25% {
    height: 100px;
  }
  50% {
    height: 20px;
  }
}

// for spectrum

.box {
  height: 100px;
  width: 600px;
  margin: 200px auto;

  .line {
    display: flex;
    margin: 0 auto;
    transform: rotate(180deg);
    height: 100px;
    cursor: pointer;

    div {
      display: inline-block;
      width: 5px;
      height: 100px;
      margin: 1px;
      background-color: gainsboro;
    }

    &:hover div {
      animation: spin-keyframe 5s infinite;

      @for $x from 1 through 100 {
        &:nth-child(#{$x}) {
          animation-delay: #{1-0.01 * $x}s;
        }
      }
    }
  }
}

@keyframes spin-keyframe {
  0% {
    background-color: gainsboro;
  }
  5% {
    background-color: magenta;
  }
  10% {
    background-color: orangered;
  }
  15% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  25% {
    background-color: yellowgreen;
  }
  30% {
    background-color: greenyellow;
  }
  35% {
    background-color: green;
  }
  40% {
    background-color: aquamarine;
  }
  45% {
    background-color: aqua;
  }
  50% {
    background-color: blue;
  }
  55% {
    background-color: blueviolet;
  }
  60% {
    background-color: purple;
  }
  65% {
    background-color: gainsboro;
  }
}

// for counter

.counter {
  margin: 100px auto;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  font-size: 7em;
  color: white;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}
