<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Experimental Coding Project by Morihiro" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://experimental.morihiro.tokyo" />
    <meta property="og:image" content="https://experimental.morihiro.tokyo/img/display.jpg" />
    <meta property="og: description" content="No limit for being a programmer. No limit for being an artist." />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    {{ block "additional_css" . }}
    {{ end }}
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ block "main" .  }}
    {{ end }}
  </body>
</html>
