body {
  font-family: "PT Mono", monospace;
  text-align: center;
}
body h1 {
  margin: 0 auto;
  padding: 50px;
  font-size: 1.5em;
}
body a {
  text-decoration: none;
}
body a:hover {
  font-weight: 600;
}
body footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.index_html ul {
  list-style: none;
}
.index_html ul li {
  padding: 5px;
}

.pulsar .space {
  background-color: black;
  height: 100vh;
  position: relative;
}
.pulsar .star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px white;
  cursor: pointer;
  transition: all 3s;
}
.pulsar .star:hover {
  height: 200px;
  width: 200px;
}

.nova .space {
  background-color: black;
  height: 100vh;
  position: relative;
}
.nova .star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px white;
  cursor: pointer;
  transition: all 3s;
}
.nova .star:hover {
  transform: scale(10);
}

.supernova .space {
  margin: 0;
  background-color: black;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.supernova .space::-webkit-scrollbar {
  display: none;
}
.supernova .star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px white;
  cursor: pointer;
  transition: all 3s;
}
.supernova .star:hover {
  transform: scale(100);
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 5s;
  cursor: progress;
}
.triangle:hover {
  transform: rotate(1080deg);
}
.triangle .triangle-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0 50px 100px 0px;
  border-color: transparent transparent red transparent;
}
.triangle .triangle-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-100px);
  border-style: solid;
  border-width: 0px 0 50px 100px;
  border-color: transparent transparent transparent blue;
}
.triangle .triangle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -100px);
  border-style: solid;
  border-width: 100px 0px 0px 50px;
  border-color: greenyellow transparent transparent transparent;
}
.triangle .triangle-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0px, -50px);
  border-style: solid;
  border-width: 50px 100px 0px 0px;
  border-color: transparent orange transparent transparent;
}

#sliding_door {
  background-color: white;
  text-align: center;
  z-index: 0;
}
#sliding_door button {
  margin: 100px 0;
  height: 200px;
  width: 100px;
  background-color: white;
  border: 2px solid;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: transform 1s;
  overflow: hidden;
}
#sliding_door button::before {
  content: "";
  display: inline-block;
  background-color: black;
  height: 200px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 3s;
}
#sliding_door button:hover::before {
  transform: translate(-100px);
}
#sliding_door button:active {
  border-color: red;
  background-color: red;
}
#sliding_door button:active::before {
  transition: transform 0ms;
  transform: translate(-101px);
}
#sliding_door button .label-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sliding_door button:active .label-1 {
  left: 150%;
}
#sliding_door button .label-2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
}
#sliding_door button:active .label-2 {
  left: 50%;
}

#folding_door {
  background-color: white;
  text-align: center;
  z-index: 0;
}
#folding_door button {
  margin: 100px 0;
  height: 200px;
  width: 100px;
  background-color: white;
  border: 2px solid;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  perspective: 300px;
}
#folding_door button::before {
  content: "";
  display: inline-block;
  background-color: black;
  height: 200px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  transform-origin: left;
  transform-style: preserve-3d;
  perspective: 90px;
}
#folding_door button:hover::before {
  transition: transform 3s;
  transform: rotateY(-120deg);
  transform-origin: left;
  transform-style: preserve-3d;
  perspective: 90px;
}
#folding_door button:active {
  border-color: red;
  background-color: red;
  overflow: hidden;
}
#folding_door button:active::before {
  display: none;
}
#folding_door button .label-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#folding_door button:active .label-1 {
  left: 150%;
}
#folding_door button .label-2 {
  display: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#folding_door button:active .label-2 {
  display: block;
}

.waves {
  height: 100px;
  width: 200px;
  margin: 100px auto;
  cursor: pointer;
}
.waves .spin {
  display: flex;
  margin: 0 auto;
  transform: rotate(180deg);
  height: 100px;
}
.waves .spin div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: black;
}
.waves .spin:hover div {
  -webkit-animation: Waves 1.5s forwards;
          animation: Waves 1.5s forwards;
}
.waves .spin:hover div:nth-child(1) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.waves .spin:hover div:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.waves .spin:hover div:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.waves .spin:hover div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.waves .spin:hover div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.waves .spin:hover div:nth-child(6) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.waves .spin:hover div:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.waves .spin:hover div:nth-child(8) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.waves .spin:hover div:nth-child(9) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.waves .spin:hover div:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes Waves {
  0% {
    height: 20px;
  }
  25% {
    height: 100px;
  }
  50% {
    height: 20px;
  }
}

@keyframes Waves {
  0% {
    height: 20px;
  }
  25% {
    height: 100px;
  }
  50% {
    height: 20px;
  }
}
.box {
  height: 100px;
  width: 600px;
  margin: 200px auto;
}
.box .line {
  display: flex;
  margin: 0 auto;
  transform: rotate(180deg);
  height: 100px;
  cursor: pointer;
}
.box .line div {
  display: inline-block;
  width: 5px;
  height: 100px;
  margin: 1px;
  background-color: gainsboro;
}
.box .line:hover div {
  -webkit-animation: spin-keyframe 5s infinite;
          animation: spin-keyframe 5s infinite;
}
.box .line:hover div:nth-child(1) {
  -webkit-animation-delay: 0.99s;
          animation-delay: 0.99s;
}
.box .line:hover div:nth-child(2) {
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
}
.box .line:hover div:nth-child(3) {
  -webkit-animation-delay: 0.97s;
          animation-delay: 0.97s;
}
.box .line:hover div:nth-child(4) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}
.box .line:hover div:nth-child(5) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
.box .line:hover div:nth-child(6) {
  -webkit-animation-delay: 0.94s;
          animation-delay: 0.94s;
}
.box .line:hover div:nth-child(7) {
  -webkit-animation-delay: 0.93s;
          animation-delay: 0.93s;
}
.box .line:hover div:nth-child(8) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}
.box .line:hover div:nth-child(9) {
  -webkit-animation-delay: 0.91s;
          animation-delay: 0.91s;
}
.box .line:hover div:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.box .line:hover div:nth-child(11) {
  -webkit-animation-delay: 0.89s;
          animation-delay: 0.89s;
}
.box .line:hover div:nth-child(12) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}
.box .line:hover div:nth-child(13) {
  -webkit-animation-delay: 0.87s;
          animation-delay: 0.87s;
}
.box .line:hover div:nth-child(14) {
  -webkit-animation-delay: 0.86s;
          animation-delay: 0.86s;
}
.box .line:hover div:nth-child(15) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
.box .line:hover div:nth-child(16) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
.box .line:hover div:nth-child(17) {
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
}
.box .line:hover div:nth-child(18) {
  -webkit-animation-delay: 0.82s;
          animation-delay: 0.82s;
}
.box .line:hover div:nth-child(19) {
  -webkit-animation-delay: 0.81s;
          animation-delay: 0.81s;
}
.box .line:hover div:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.box .line:hover div:nth-child(21) {
  -webkit-animation-delay: 0.79s;
          animation-delay: 0.79s;
}
.box .line:hover div:nth-child(22) {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s;
}
.box .line:hover div:nth-child(23) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}
.box .line:hover div:nth-child(24) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}
.box .line:hover div:nth-child(25) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.box .line:hover div:nth-child(26) {
  -webkit-animation-delay: 0.74s;
          animation-delay: 0.74s;
}
.box .line:hover div:nth-child(27) {
  -webkit-animation-delay: 0.73s;
          animation-delay: 0.73s;
}
.box .line:hover div:nth-child(28) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
.box .line:hover div:nth-child(29) {
  -webkit-animation-delay: 0.71s;
          animation-delay: 0.71s;
}
.box .line:hover div:nth-child(30) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.box .line:hover div:nth-child(31) {
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
}
.box .line:hover div:nth-child(32) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}
.box .line:hover div:nth-child(33) {
  -webkit-animation-delay: 0.67s;
          animation-delay: 0.67s;
}
.box .line:hover div:nth-child(34) {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}
.box .line:hover div:nth-child(35) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.box .line:hover div:nth-child(36) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}
.box .line:hover div:nth-child(37) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}
.box .line:hover div:nth-child(38) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}
.box .line:hover div:nth-child(39) {
  -webkit-animation-delay: 0.61s;
          animation-delay: 0.61s;
}
.box .line:hover div:nth-child(40) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.box .line:hover div:nth-child(41) {
  -webkit-animation-delay: 0.59s;
          animation-delay: 0.59s;
}
.box .line:hover div:nth-child(42) {
  -webkit-animation-delay: 0.58s;
          animation-delay: 0.58s;
}
.box .line:hover div:nth-child(43) {
  -webkit-animation-delay: 0.57s;
          animation-delay: 0.57s;
}
.box .line:hover div:nth-child(44) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}
.box .line:hover div:nth-child(45) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.box .line:hover div:nth-child(46) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}
.box .line:hover div:nth-child(47) {
  -webkit-animation-delay: 0.53s;
          animation-delay: 0.53s;
}
.box .line:hover div:nth-child(48) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}
.box .line:hover div:nth-child(49) {
  -webkit-animation-delay: 0.51s;
          animation-delay: 0.51s;
}
.box .line:hover div:nth-child(50) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.box .line:hover div:nth-child(51) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}
.box .line:hover div:nth-child(52) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
.box .line:hover div:nth-child(53) {
  -webkit-animation-delay: 0.47s;
          animation-delay: 0.47s;
}
.box .line:hover div:nth-child(54) {
  -webkit-animation-delay: 0.46s;
          animation-delay: 0.46s;
}
.box .line:hover div:nth-child(55) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.box .line:hover div:nth-child(56) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}
.box .line:hover div:nth-child(57) {
  -webkit-animation-delay: 0.43s;
          animation-delay: 0.43s;
}
.box .line:hover div:nth-child(58) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}
.box .line:hover div:nth-child(59) {
  -webkit-animation-delay: 0.41s;
          animation-delay: 0.41s;
}
.box .line:hover div:nth-child(60) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.box .line:hover div:nth-child(61) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}
.box .line:hover div:nth-child(62) {
  -webkit-animation-delay: 0.38s;
          animation-delay: 0.38s;
}
.box .line:hover div:nth-child(63) {
  -webkit-animation-delay: 0.37s;
          animation-delay: 0.37s;
}
.box .line:hover div:nth-child(64) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
.box .line:hover div:nth-child(65) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.box .line:hover div:nth-child(66) {
  -webkit-animation-delay: 0.34s;
          animation-delay: 0.34s;
}
.box .line:hover div:nth-child(67) {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}
.box .line:hover div:nth-child(68) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.box .line:hover div:nth-child(69) {
  -webkit-animation-delay: 0.31s;
          animation-delay: 0.31s;
}
.box .line:hover div:nth-child(70) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.box .line:hover div:nth-child(71) {
  -webkit-animation-delay: 0.29s;
          animation-delay: 0.29s;
}
.box .line:hover div:nth-child(72) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
.box .line:hover div:nth-child(73) {
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
}
.box .line:hover div:nth-child(74) {
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
}
.box .line:hover div:nth-child(75) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.box .line:hover div:nth-child(76) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.box .line:hover div:nth-child(77) {
  -webkit-animation-delay: 0.23s;
          animation-delay: 0.23s;
}
.box .line:hover div:nth-child(78) {
  -webkit-animation-delay: 0.22s;
          animation-delay: 0.22s;
}
.box .line:hover div:nth-child(79) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}
.box .line:hover div:nth-child(80) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.box .line:hover div:nth-child(81) {
  -webkit-animation-delay: 0.19s;
          animation-delay: 0.19s;
}
.box .line:hover div:nth-child(82) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}
.box .line:hover div:nth-child(83) {
  -webkit-animation-delay: 0.17s;
          animation-delay: 0.17s;
}
.box .line:hover div:nth-child(84) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.box .line:hover div:nth-child(85) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.box .line:hover div:nth-child(86) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}
.box .line:hover div:nth-child(87) {
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
}
.box .line:hover div:nth-child(88) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.box .line:hover div:nth-child(89) {
  -webkit-animation-delay: 0.11s;
          animation-delay: 0.11s;
}
.box .line:hover div:nth-child(90) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.box .line:hover div:nth-child(91) {
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}
.box .line:hover div:nth-child(92) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.box .line:hover div:nth-child(93) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}
.box .line:hover div:nth-child(94) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}
.box .line:hover div:nth-child(95) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.box .line:hover div:nth-child(96) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
.box .line:hover div:nth-child(97) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
}
.box .line:hover div:nth-child(98) {
  -webkit-animation-delay: 0.02s;
          animation-delay: 0.02s;
}
.box .line:hover div:nth-child(99) {
  -webkit-animation-delay: 0.01s;
          animation-delay: 0.01s;
}
.box .line:hover div:nth-child(100) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes spin-keyframe {
  0% {
    background-color: gainsboro;
  }
  5% {
    background-color: magenta;
  }
  10% {
    background-color: orangered;
  }
  15% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  25% {
    background-color: yellowgreen;
  }
  30% {
    background-color: greenyellow;
  }
  35% {
    background-color: green;
  }
  40% {
    background-color: aquamarine;
  }
  45% {
    background-color: aqua;
  }
  50% {
    background-color: blue;
  }
  55% {
    background-color: blueviolet;
  }
  60% {
    background-color: purple;
  }
  65% {
    background-color: gainsboro;
  }
}

@keyframes spin-keyframe {
  0% {
    background-color: gainsboro;
  }
  5% {
    background-color: magenta;
  }
  10% {
    background-color: orangered;
  }
  15% {
    background-color: orange;
  }
  20% {
    background-color: yellow;
  }
  25% {
    background-color: yellowgreen;
  }
  30% {
    background-color: greenyellow;
  }
  35% {
    background-color: green;
  }
  40% {
    background-color: aquamarine;
  }
  45% {
    background-color: aqua;
  }
  50% {
    background-color: blue;
  }
  55% {
    background-color: blueviolet;
  }
  60% {
    background-color: purple;
  }
  65% {
    background-color: gainsboro;
  }
}
.counter {
  margin: 100px auto;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  font-size: 7em;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.counter:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */